.microphone{

  width: 80px;

  height: 80px;

  padding: 20px;

  cursor: pointer;

}



.stoprec{

  width: 80px;

  height: 80px;

  padding: 20px;

  cursor: pointer;

}



.reset{

  width: 80px;

  height: 80px;

  padding: 20px;

  cursor: pointer;

}



.btnsign {

  background: #3498db;

  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);

  background-image: -moz-linear-gradient(top, #3498db, #2980b9);

  background-image: -ms-linear-gradient(top, #3498db, #2980b9);

  background-image: -o-linear-gradient(top, #3498db, #2980b9);

  background-image: linear-gradient(to bottom, #3498db, #2980b9);

  -webkit-border-radius: 28;

  -moz-border-radius: 28;

  border-radius: 28px;

  font-family: Georgia;

  color: #ffffff;

  font-size: 20px;

  padding: 10px 20px 10px 20px;

  text-decoration: none;

}



.btnsign:hover {

  background: #3cb0fd;

  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);

  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);

  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);

  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);

  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);

  text-decoration: none;

  cursor: pointer;

}



.space{

    padding: 70px;



    .videogenerated{

      box-shadow: 0 0 20px rgba(0,0,0, 0.75);

      border-color: #fff;

      overflow: hidden;

      padding: 30px;

      margin-left: 25%;

      width: 650px;

      /*

      margin: auto;

      box-shadow: 80px 80px 80px rgba(6, 6, 7, 0.2);

      border-radius: 25px;

      border-color: red;

      border-style: solid;

      overflow: hidden;*/

  }

}