.images img{
    border: 1px solid #555;
    cursor: pointer;
    padding: 0px;
}
.images{
    display: inline-block;
    overflow: hidden;
    padding: 20px;
    background-color: honeydew;
}
.images img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.images:hover img {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
.textarea{
    padding: 10px;
}
.textarea textarea{
    font-size: 50px;
}
.headers{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    padding: 0%;
    text-align: center;
}


